body, html {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #808080;
}

:root {
    --main-color: #fffb00;
    --main-text-color: #000000;
    --main-text-color-alt: #ffffff;
}

a {
    color: var(--main-color);
}

a:visited {
    color: var(--main-color);
}

.center_text {
    text-align: center;
}

.error {
    color:var(--main-color);
    margin-top:15%;
    font-size:80px;
    margin-bottom:15px;
}

.center {
    margin-left:auto; 
    margin-right:auto;
}

.border {
    border: var(--main-color) solid 2px;
    border-radius: 20px;
    width: 500px;
    padding-bottom: 20px; 
}

#stations {
    border-collapse: collapse;
    width: 80%;
}
  
#stations td, #stations th {
    border: 1px solid #5d5d5d;
    padding: 8px;
}
  
#stations tr:nth-child(even){background-color: #666666;}
  
#stations tr:hover {background-color: #5d5d5d;}
  
#stations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

#lol {color: #696969;}

nav div{
    border: var(--main-color);
}