{% extends "layout.html" %}

{% block content %}
    <header>
        <h1 class="h1header">{% block title %}CART{% endblock %}</h1>
    </header>
    <span class="bleh">
        <span class="cart">
            {% if cart == "Cart empty" %}
                <h2 style="text-align:center;margin:0 auto;">{{ cart }}</h2>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    {% for x in cartQuantity %} 
                        <tr>
                            <td>{{ x[0]['name'] }}</td>
                            <td>{{ x[1] }}x</td>
                            <td>{{ x[2] }}$</td>
                            <td><a href="/remove/{{ x[0]['id'] }}">X</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <h4>Overall cost of cart <span>{{ price_sum }}$</span> (not including tax)</h4>
            {% endif %}
        </span>
        <span class="footerCart">
            <footer>
                <a class="buttonCartScreen" style="margin: 15px;" href="/checkout">Continue to checkout</a>
            </footer>
            <footer>
                <a style="padding: 10px 32px;" class="buttonCartScreen" href="/">back</a>
                <a style="padding: 10px 32px;" class="buttonCartScreen" href="/clear">clear cart</a>
            </footer>
        </span>
    </span>
{% endblock %}