{% extends "layout.html" %}

{% block content %}
    <h1 class="center_text">{% block title %}Bensín stöðvar{% endblock %}</h1>
    <nav>
        {% for station in stations %}
            <div>
                <a href="/company/{{ station }}"><img src="{{ url_for('static', filename='img/' + station + '.jpg') }}" style="width:82px" title="{{ station }}" alt="{{ station }}"></a>
            </div>
        {% endfor %}
        </nav>
    <p>upplýsingar seinast uppfærðar <a href="https://apis.is/petrol" target="_blank"style="color:var(--main-color);">{{ timestamp }}</a></p>
{% endblock %}