{% extends "layout.html" %}

{% block content %}
    <div class="center_text">
        <h1 class="center_text">{% block title %}Bensín stöðvar{% endblock %}</h1>
        <nav>
            {% for station in stations %}
            <a href="/company/{{ station }}">
                <div class="container">
                    <img src="{{ url_for('static', filename='img/'+station+'.jpg') }}" height="130px" title="{{ station }}" alt="{{ station }}">
                </div>
            </a>
            {% endfor %}
            </nav>
        <p>upplýsingar seinast uppfærðar <a href="https://apis.is/petrol" target="_blank"style="color:var(--main-color);">{{ timestamp }}</a></p>
        <p>lægsta bensín er hjá {{ low_bensin['company'], low_bensin['name'], low_bensin['bensin95'] }}.</p>
        <p>lægsta dísel er hjá {{ low_disel['company'], low_disel['name'], low_disel['diesel'] }}.</p>
    </div>
{% endblock %}